[submodule "depends/libsnark"]
	path = depends/libsnark
	url = https://github.com/scipr-lab/libsnark.git
[submodule "depends/cryptopp-cmake"]
	path = depends/cryptopp-cmake
	url = https://github.com/abdes/cryptopp-cmake
